@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .align-elements {
        @apply max-w-6xl w-full mx-auto px-4
    }
}

body {
    background-color: #e3e9ff;
}

.todo-trash {
    display: none;
}

.todo-list:hover {
    .todo-trash {
        display: flex;
    }
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.complated {
    opacity: 50%;
    text-decoration: line-through;
}